.container{
    text-align: center;
    margin: 0%;
    padding: 0%;
    background-color: #fdeaeb;
}

#descripcion{
  background-color: #fdeaeb;
}


.img-fluid{
    text-align: center;

}

.labels{
    font-size: 25px;
    color: black;
    text-align: justify;
}

#detalle{
    height: 200px;
    color: black;
    border: none;
    background-color: #fdeaeb;
    border-bottom: 0.5px solid rgba(101, 90, 90, 0.944);

}


  #elemento {
    color: #fff;
    text-decoration: none;
    transition: .3s;
  }
  
  #elemento:hover {
    background-color: #eb8a8a;
  }