.card{
    margin: 30px;
  }
  
  .card-title{
      text-align: center;
      
  }
  
  
  body{
    text-align: center;
  }

  .container{
    text-align: center;
  }

  h2 {
    text-align: center;
    color: black;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
}

  .row{
    text-align: right;
  }

  .centrarBoton{
  text-align: center;
  }
  
  
  .prueba{
    text-transform: none;
    text-transform: lowercase;
  }
  
  #elemento {
    color: #fff;
    text-decoration: none;
    transition: .3s;
  }
  
  #elemento:hover {
    background-color: #eb8a8a;
  }