.card{
  margin: 30px;
}

.card-title{
    text-align: center;
    
}


body{
  text-align: center;
}

.row{
  background-color: #fdeaeb;
}


.centrarBoton{
text-align: center;
}


.prueba{
  text-transform: none;
  text-transform: lowercase;
}

#elemento {
  color: #fff;
  text-decoration: none;
  transition: .3s;
}

#elemento:hover {
  background-color: #eb8a8a;
}

a{
  
}